<h1>Agregar Productos en Tiempo Real</h1>
<form id="productForm">
  <input type="text" id="title" placeholder="Nombre del producto" required>
  <input type="number" id="price" placeholder="Precio" required>
  <button type="submit">Agregar Producto</button>
</form>

<ul id="productList"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>

